[submodule "betterlockscreen"]
	path = betterlockscreen
	url = https://github.com/pavanjadhaw/betterlockscreen.git
[submodule "st"]
	path = st
	url = git@github.com:tdgrunenwald/st.git
[submodule "vim-redact-pass"]
	path = vim-redact-pass
	url = https://sanctum.geek.nz/code/vim-redact-pass.git
[submodule "rgbds"]
	path = rgbds
	url = https://github.com/rednex/rgbds.git
